[Desktop Entry]

Version=1.0
Type=Application
Categories=System;Utility;
Terminal=false
Exec=/media/q/File/p/python/database/main.bin
Icon=/media/q/File/p/python/database/icon/icon.png
Name=Database
Comment=Start database